* {
    font-family: 'Comic Neue', cursive;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

header {
    padding: 1rem;
    background-color: #540D0D;
    color: white;
    text-align: center;
}

.explore {
    height: auto;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
}

.section-left {
    font-family: 'Monoton', cursive;
    padding-top: 6rem;
    font-size: 2.8rem;
    text-align: right;
}

.info {
    padding: 2rem;
}

.info-emotions {
    text-align: center;
    font-weight: bold;
}

.icons-flex {
    display: flex;
    justify-content: space-around;
}

.icons-flex div {
    padding: 3rem;
}

.info-2-emotions {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.komodo-left {
    background-image: url(/images/komodo-left.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 667px;
}