* {

}

header {
    padding: 1rem;
    background-color: #540D0D;
    color: white;
    text-align: center;
}

.explore {
    height: auto;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
}

.section-left {
    font-family: 'Monoton', cursive;
    padding-top: 6rem;
    font-size: 3.1rem;
    text-align: right;
}

.komodo {
    background-color: #ffffffc4;
}

.info {
    padding: 3.5rem;
}

.info-emotions h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-weight: normal;
}

.icons-flex {
    display: flex;
    justify-content: space-around;
}

.icons-flex div {
    padding: 3rem;
}

.info-2-emotions {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.define {
    font-family: 'Monoton', cursive;
    font-size: 3.1rem;
    color: rgb(209, 39, 67);
    padding: 9rem 2rem 5.5rem 3rem;
}

.define-left {
    font-size: 1.5rem;
    padding-bottom: 6rem;
}

.define-right {
    font-size: 1.5rem;
}

.info-plans {
    padding-top: 2rem;
    text-align: center;
}

.info-plans {
    padding-left: 3rem;
}

.box-left {
    padding-left: 1rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
min-height: 200px;
margin: 100px auto;
background: white;
border-radius: 5px;
}

