* {
    font-family: 'Comic Neue', cursive;
}

header {
    padding: 1rem;
    background-color: #540D0D;
    color: white;
    text-align: center;
}

.explore-left {
    height: auto;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
}

.section-left {
    font-family: 'Monoton', cursive;
    padding-top: 6rem;
    font-size: 2.8rem;
    text-align: right;
}